@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

header{
    margin-top: 25px;
    width: 0 auto;
    height: 70px;
 }
 #imgnAdvanced{
     display: flex;
     align-items: flex-end;
     float: left;
     padding-left: 15px;
     
 }
 #imAdvanced{
    display: flex; 
    width: 60px;
}
 .opc{
    display: flex;
    align-items: center;
    float: right;
 }
 .opc_i{
    margin-left: 15px;
 }
 .opc_i a:visited, a:link{
    text-decoration: none;
    color: #2B2B2B;
 }
 .opc_i:hover{
    text-decoration: underline;
 }
 .opc:last-child{
    padding-right: 10px;
 }

 .tittle{
    font-size: 22px;
    margin-left: 45px;
    padding-bottom: 10px;
    color: rgb(199, 46, 46);
    font-family: 'Roboto', sans-serif;
 }
hr{
   border: 0.1px solid rgb(243, 243, 243);
   margin-bottom: 15px;
 }
.main{
    margin: 45px 0 0 45px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    max-width: 60%;
}

#mttle{
    float: left;
    margin-bottom:26px;
    font-size: 17px;
}

.container{
    margin-bottom: 15px;
    height: 22px;
    clear: both;
}
#txt{
    float: left;
    display: inline-block;
    min-width: 167px;
}

#box{
    float:left;
    display: inline-block;
}

#btnAdvanced{
    background-color: #176BEF;
    border: 1px solid #105edb;
    border-radius: 4px;

    font-size: 16px;
    color: white;
    float: right;
}